@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --border: 240 6% 20%;
    --muted: 240 5% 12%;
    --muted-foreground: 240 5% 65%;
    --accent: 267 85% 66%;
    --accent-foreground: 0 0% 100%;
    --ok: 142 76% 45%;
    --warn: 38 92% 55%;
    --down: 0 84% 60%;
    --unknown: 240 5% 50%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html,
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
